/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;

  /* Background image settings */
  background-image: url('@site/src/components/Image/150x150_square_52218619.jpg'); /* Correct path to your image */
  background-size: contain; /* Maintains the aspect ratio of the image */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  /*background-attachment: fixed; /* Optional: Makes the background fixed during scrolling */
  color: #fff; /* Adjust text color for better contrast */
}

@media screen and (max-width: 1200px) {
  .heroBanner {
    padding: 2rem;
    background-size: cover; /* For smaller screens, you can switch to cover */
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}